<div 
	class="row query-overview--control-param disease-listing"
	ng-class="{'data-loading': $ctrl.isLoading}"
>

  	<span class="row query-overview--control-param-title js-test-name">{{$ctrl.name}}</span>

  	<summary class="row control-param-summary">
  		<p class="col-lg-4 sample-count">SAMPLES <strong class="js-test-sampleCount"> {{$ctrl.samples.length}}</strong> </p>

  		<p class="col-lg-2 col-lg-offset-1 sample-positives sample-count--item">
  			 <span class="glyphicon"
  			 	   ng-class="{'glyphicon-plus-sign': !$ctrl.isLoading,
  			 					'glyphicon-refresh': $ctrl.isLoading}"></span> 
  			 <span ng-if="!$ctrl.isLoading" class="js-test-positives">{{$ctrl.positives}}</span> 
  		</p>

  		<p class="col-lg-2 sample-negatives sample-count--item"> 
  			<span class="glyphicon"
  					ng-class="{'glyphicon-minus-sign': !$ctrl.isLoading,
  			 				'glyphicon-refresh': $ctrl.isLoading}"
  				></span> 
  			<span ng-if="!$ctrl.isLoading" class="js-test-negatives">{{$ctrl.negatives}}</span> 
  		</p>
  	</summary>

  	<button 
        class="glyphicon glyphicon-remove-circle text-danger col-lg-1" 
        aria-hidden="true"
        ng-click="$ctrl.removeDisease($ctrl)">
  </button>

 </div>	  		
