<section>
	<span class="prgs-indct-bar-line" style="width:{{ $ctrl.lineWidth() }}%; left:{{ $ctrl.lineLeft()  }}%;"></span>

	<ol class="prgs-indct-bar-steps">
		<!--<li>-->
		<!--<a ui-sref="app" href="#"><img id="cognoma-icon" src="../../../../images/cognoma-white.png"></a>-->
		<!--</li>-->
		<li ng-repeat="step in $ctrl.steps"
			class="prgs-indct-bar-step"
			ng-class="{'active': step.active}"
			ng-click="$ctrl.goTo(step)"
		>
			<i ng-if="step.type == 'icon'" class="icon">{{step.icon}}</i>
			<p ng-if="step.type == 'icon'" ><small>{{step.title}}</small></p>

			<button
					ng-if="step.type == 'button'"
					ui-sref="step.state"
					ng-click="step.action($event)"
			>
				{{ step.title}}
			</button>
		</li>

	</ol>
</section>