@keyframes dotGrow {
  20% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  80% {
    transform: scale(1);
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
