html,
body {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: $font-color--dark;
  font-family: 'Rubik', Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

table,
td {
  border-spacing: 0;
  outline: none;
}

.badge--counter {
  background: $blue;
}

.container-fluid {
  display: flex;
  padding: 0;
}

.growl-item {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 60px;
}

/* =======================================================================
  Application Base
 ========================================================================== */
#app {
  display: block;
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ui-view {
  flex: 1;
}

/* =======================================================================
  Query Builder
  ========================================================================== */
.query-builder {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  grid-template-columns: 500px 1fr;
  grid-template-rows: auto;
}

.home {
  align-items: center;
  display: flex;
  height: 100%;
  color: $white;
  background: $background--medium;

  &__container {
    position: relative;
    align-items: top;
    justify-content: space-between;
    display: flex;
    width: 80%;
    max-width: 1200px;
    padding: 50px 0;
    margin: 0 auto;
  }

  &__button {
    margin-top: 30px;
  }

  &__text {
    width: 50%;
    padding-right: 70px;
  }

  &__cognoma {
    color: $green;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  &__svg {
    width: 50%;

    .landing-page-graphs {
      width: 100%;
      height: auto;
    }
  }
}

.terms {
  &__container {
    max-width: 800px;
    width: 90%;
    margin: 5rem auto;
  }
}
