body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: $font-color--dark;
  font-family: 'Rubik', Helvetica, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

table,
td {
  border-spacing: 0;
  outline: none;
}

.badge--counter {
  background: $blue;
}

.container-fluid {
  display: flex;
  padding: 0;
}

.growl-item {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 60px;
}

/* =======================================================================
  Application Base
 ========================================================================== */
#app {
  display: block;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.dashboard-column {
  position: relative;
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
  color: $white;
}

.dashboard-column-header {
  width: 100%;
  margin: 0;
}

/* =======================================================================
  Query Builder
  ========================================================================== */
.query-builder {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  grid-template-columns: 400px 1fr;
  grid-template-rows: 80px 1fr;
}

/* =======================================================================
  Info Box (tooltip)
 ========================================================================== */
.info-box {
  position: relative;
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  color: $white;
  font-size: 10px;
  background: rgba($black, 0.25);

  //arrow
  &:before {
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    content: '';
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba($black, 0.25);
    border-left: 10px solid transparent;
  }

  .glyphicon {
    padding: 7px 0 0 0;
    margin: 0;
  }

  .glyphicon-info-sign {
    padding-right: 10px;
    font-size: 16px;
  }

  .glyphicon-remove-circle {
    font-size: 12px;
  }
}

.info-box-message {
  display: inline-block;
}
