.button {
  padding: 13px 25px;
  color: $white;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: $green;
  box-shadow: none;
  border: none;
  outline: none;
}
