.cg-dot-loader {
  position: relative;
  left: 50%;
  display: inline-block;
  margin-top: 150px;
  transform: translateX(-50%);

  &__dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: $fiord;
    border-radius: 50%;
    animation: dotGrow 1.2s ease-in-out alternate infinite;
    opacity: 0.5;

    &:nth-of-type(2) {
      animation-delay: 0.12s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.24s;
    }
  }
}

@keyframes dotGrow {
  20% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  80% {
    transform: scale(1);
  }
}
