.tabs {
  &__button {
    position: relative;
    padding: 15px 20px;
    color: $font-color--medium;
    font-size: 1.1rem;
    font-weight: 500;

    &--active {
      color: $font-color--dark;
      background: $background--light;
      border: 1px solid $font-color--medium;
      border-top: 4px solid $green;
      border-bottom: none;

      &:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        background-color: $background--light;
      }

      &:first-of-type {
        border-left: 0;
      }
    }
  }


  &__content {
    padding: 20px 10px;
    border-top: 1px solid $font-color--medium;
  }
}
