.textbox {
  width: 100%;
  padding: 13px 25px;
  margin: 0;
  color: $font-color--dark;
  font-family: 'Rubik';
  font-size: 1rem;
  box-shadow: none;
  border: none;
  border: 1px solid $font-color--medium;
  outline: none;

  &::placeholder {
    color: $font-color--medium;
  }
}
