.heading {
  margin-bottom: 0.618em;

  &--xlarge {
    margin-bottom: 0.3em;
    font-size: $font-size--xl;
  }

  &--large {
    margin: 0;
    font-size: $font-size--lg;
    font-weight: 400;
  }

  &--medium {
    font-size: $font-size--md;
    font-weight: 300;
  }

  &--small {
    font-size: $font-size--sm;
    font-weight: 300;
  }

  &--smallest {
    font-size: $font-size--xs;
    font-weight: bold;
  }
}

h1 {
  @extend .heading--large;
}

h2 {
  @extend .heading--large;
}

h3 {
  @extend .heading--small;
}

p {
  margin-bottom: 1em;
  font-weight: 300;
  line-height: 1.6;
}
