// Colors
$blue: #1F8DE2;
$green: #11D074;
$red: #E21F3F;
$gray-light: #E2E2E2;
$black: #000;
$white: #FFF;

// Grays - from lightest to darkest
// named with http://chir.ag/projects/name-that-color/
$athens-gray: #EBEDF2;
$manatee: #9196A7;
$shuttle-gray: #5C6777;
$tuna: #323540;
$charade: #292C36;

// Functional colors
$font-color--dark: $shuttle-gray;
$font-color--medium: $manatee;
$font-color--light: $white;
$background--dark: $charade;
$background--medium: $tuna;
$background--light: $athens-gray;

// Spacing
$full-space: 40px;
$half-space: 20px;

// Font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

//== Pills
$nav-pills-border-radius: 0;
