// Colors
// named with http://chir.ag/projects/name-that-color/

$blue: #1F8DE2;
$green: #64D8A2;
$red: #E21F3F;
$black: #000;
$white: #FFF;

// Grays - from darkest to lightest
$shuttle-gray: #5C6777;
$trout: #4E525F;
$tuna: #323540;
$charade: #292C36;

// functional colors
$font-color--dark: $shuttle-gray;
$font-color--light: $white;
$background-dark: $charade;
$background-medium: $tuna;
$background-light: $trout;

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

//== Pills
$nav-pills-border-radius: 0;
