@import 'vars';
@import 'typography';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';

// components
@import "components/_navGlobal";



body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
}

.badge--counter{
	background:$blue;
}

.container-fluid{ padding:0; }
.row{margin-left:0; margin-right:0;}

/* =======================================================================
  Application Base
 ========================================================================== */
#app{
	width: 100vw;
	height: 100vh;
	display: block;
	padding: 0;
	margin:0;
	overflow: hidden;
}

	.dashboard-column{
		display:block;
		height: 100%;
		padding:0;
		margin:0;
	}

	.dashboard-column-header{
		width: 100%;
		height: 40px;

		margin:0;
		padding: 5px 0 0 0;


		h2{
			padding:0;
			margin:0;

			color:$white;
			font-size: 24px;
			text-transform: uppercase;
			text-align: center;
		}
	}


/* =======================================================================
  Query Builder
  ========================================================================== */
#query-builder{
	height: 100vh;
	margin:0;
	padding:0;
}

@import "components/_queryOverview";
	@import "components/_queryOverviewControl";

@import "components/_querySet";
	@import "components/_querySetMutations";
	@import "components/_querySetDiseaseType";

@import "components/_queryParamSelector";

.glyphicon-info-sign {
	font-size: 16px;
	padding-right: 10px;
}
  /* =======================================================================
    geneCard
   ========================================================================== */
@import "components/_geneCard";
/* =======================================================================
  diseaseCard
 ========================================================================== */
 @import "components/_diseaseCard";
