// Vendor Imports
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';
@import 'partials/_ie10-viewport-bug-workaround';
@import '_bootsrtap-dashboard';




// Variables
@import 'vars';
// @import 'typography';

// Base Layout
// @import 'base';

// Components
@import 'components';


// =======================================================================
// Navbar top
// =======================================================================
.navbar-brand{
	padding:4px;
}
.user-status{
	display:inline-block;
	position: absolute;
    top: 11px;
    left: 9px;
    z-index: 2;
    width: 12px;
    height: 12px;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(#54a3ff, #006eed);
    background-clip: padding-box;
    border: 2px solid #24292e;
    border-radius: 50%;

    &.logged-in{ background-image: linear-gradient(#c9de96, #398235);}
    &.logged-out{ background-image: linear-gradient(#FF3019, #cf0404);}
    
}

// =======================================================================
// Query Overview sidebar
// =======================================================================
.sidebar-right{
	right:0;
	left:auto;
}
.sidebar--queryoverview{
	border:0;
	background-color: #c4c4c4;
}


/* =======================================================================
  Query Builder panel 
  ========================================================================== */
  .QueryBuilder__title{
    display:inline-block;
  }

  .QueryBuilder__meta_btns{
    margin-top:10px;
    font-size:18px;
    opacity:0.5;
    .glyphicon{margin-left:10px;}
  }



// =======================================================================
// Query Parameter Panel
// =======================================================================
.param-results{
	padding-top:30px;
}

.DiseaseTypeCard{
    &:hover{
        .DiseaseTypeCard__title{
            font-weight:bold;
        }
    }
}


.GeneCard{
    &:hover{
        .GeneCard__heading{
            .glyphicon, .lablel{opacity:1;}
        }
    }
}

.GeneCard__heading{
    .glyphicon{
        opacity:0;
        transition:all 0.25s ease;
    }
}

.SamplesCount{
    padding:3px 5px 3px 10px;
    margin-bottom:0;
    &:before{
        content:'Samples';
        display:inline-block;
        margin-right:-60px;
        opacity:0;
        transition: all 0.25s ease;
    }

    &:hover{
        &:before{
            margin-right:5px;
            opacity:1;
        }
    }
}

