<section class="col-lg-12 query-param-selector--instrs">
		<div class="row">
			<h1 class="col-lg-12" >BUILD A CLASSIFICATION ALOGRITHM BY:</h1>	
		</div>
		<div class="row">
			<ol class="col-lg-10 col-lg-offset-1 text-left">
				<li>
					<h3>Searching for Genes by name of alternative Gene ID</h3>
				</li>
				<li>
					<h3>Selecting Genes to add to your Gene Set by Clicking or Dragging to the Gene Set sidebar </h3>
					<blockquote >
						<small>
							The genes in your <strong>Gene Set</strong> will compose the Y vector that is used to determine gene or pathway inactivation. The hypothesis assumption is that a mutation in any gene in your Gene Set will cause a measurable change in downstream gene expression that can be detected by the algorithm you build.
						</small>
					</blockquote>	
				</li>
				<li>
					<h3>Searching for Samples by Disease Type</h3>
				</li>
				<li>
					<h3>
						Selecting Disease Types to add to your Disease Types Set by Clicking or Dragging to the Disease Types Set sidebar 
					</h3>
				</li>
			</ol>
		</div>
		
	</section>