<header class="row dashboard-column-header">
	<h2>Paramater Selector</h2>
</header>	

<div class="row query-param-selector-ctrls">
	<div class="col-lg-1">
		<span class="badge badge--counter">0</span>
	</div>
	
	<div class="col-lg-9">
		<div class="input-group input-group-lg">
  			<span class="input-group-addon" id="sizing-addon1">@</span>
  			<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
		</div>
	</div>
	

	<div class="col-lg-1">
		<button type="button" class="btn 
									 btn-xs 
									 btn--mutation-sort
									 glyphicon 
									 glyphicon-sort-by-attributes 
									 text-uppercase">
									 	Mutations
		</button>
	</div>
	
</div>
