<header class="query-param-selector__header">
	<h2>{{$ctrl.currentState()}} Selector

	<div class="results-count" >
		<small><b>results</b></small>
		<span 
			ng-if="$ctrl.isSearching"
			class=" glyphicon glyphicon-refresh" 
			></span> 
		<span  
			ng-if="!$ctrl.isSearching && $ctrl.filteredSearchResults.length"
			class="badge badge--counter">
			{{ $ctrl.filteredSearchResults.length }}
		</span>
	</div></h2>
	<button
		class="btn btn-primary"
		 ng-click="$ctrl.onParamSelect({queryParamData: $ctrl.searchResults});"
	>
		Add to query
	</button>
</header>
<div class="query-param-selector__search">
	<input id="query-param-selector-input"
		type="text"
		class="form-control"
		placeholder="Search {{$ctrl.currentState() === 'mutations' ? 'genes' : 'diseases'}} by name"
		ng-change="$ctrl.currentState() === 'mutations' ? $ctrl.onInputChange($ctrl.searchQuery) : null"
		ng-model="$ctrl.searchQuery"
		ng-model-options="{debounce: 300}"
		autofocus="1"
	><!-- 
	<div>
		<button
			ng-if="$ctrl.currentState() == 'mutations'"
			type="button"
			class="btn
				   btn-xs
				   btn--mutation-sort
				   glyphicon
				   glyphicon-sort-by-attributes-alt
				   text-uppercase"
			uib-tooltip="the internal score representing how well the query matches the returned gene object"
			tooltip-placement="bottom"
			ng-click="$ctrl.sortResultsBy($ctrl.searchResults, '_score')"
		>
			<p>Score</p>
		</button>
		<button
			ng-if="$ctrl.currentState() == 'disease'"
			type="button"
			class="btn
				   btn-xs
				   btn--mutation-sort
				   glyphicon
				   glyphicon-sort-by-attributes-alt
				   text-uppercase"
			ng-click="$ctrl.sortResultsBy($ctrl.searchResults, 'positives')"
		>
			<p>Positives</p>
		</button>
	</div> -->
</div><!-- 
<mutations-instructions ng-if="$ctrl.currentState() == 'mutations' && $ctrl.searchResults.length == 0" class="row">
</mutations-instructions> -->
<div class="query-param-selector__results">
	<section
		class="query-param-selector-results"
	>
		<div class="cg-dot-loader" ng-if="$ctrl.isSearching">
			<span class="cg-dot-loader__dot"></span>
			<span class="cg-dot-loader__dot"></span>
			<span class="cg-dot-loader__dot"></span>
		</div>
		<table class="cg-table" ng-if="$ctrl.currentState() == 'disease' && $ctrl.searchResults.length">
			<thead>
				<tr class="cg-table__thead-row">
					<th class="cg-table__cell cg-table__cell--centered">
						<input
							type="checkbox"
							ng-model="$ctrl.isAllSelected"
							ng-change="$ctrl.selectAllResults($ctrl.isAllSelected)"
						/>
					</th>
					<th class="cg-table__cell" ng-click="$ctrl.sortType = 'name'; $ctrl.sortReverse = !$ctrl.sortReverse">
						Name
						<span ng-show="!$ctrl.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
						<span ng-show="$ctrl.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
					</th>
					<th class="cg-table__cell">Samples</th>
					<th class="cg-table__cell" ng-click="$ctrl.sortType = 'positives'; $ctrl.sortReverse = !$ctrl.sortReverse">
						Positives
						<span ng-show="!$ctrl.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
						<span ng-show="$ctrl.sortReverse" class="glyphicon glyphicon-triangle-top"></span>
					</th>
					<th class="cg-table__cell">Negatives</th>
				</tr>
			</thead>
			<tbody>
				<tr class="cg-table__row" ng-repeat="result in ($ctrl.filteredSearchResults = ($ctrl.searchResults | filter: $ctrl.searchQuery | orderBy:$ctrl.sortType:$ctrl.sortReverse))">
					<td class="cg-table__cell cg-table__cell--centered">
						<input
							type="checkbox"
							ng-model="result.isSelected"
							ng-change="$ctrl.areAllResultsSelected()"
						/>
					</td>
				    <td class="cg-table__cell">{{result.name}}</td>
				    <td class="cg-table__cell">{{result.samples}}</td>
				    <td class="cg-table__cell">{{result.positives}}</td>
				    <td class="cg-table__cell">{{result.negatives}}</td>
				</tr>
			</tbody>
		</table>
		<table class="cg-table" ng-if="$ctrl.currentState() == 'mutations' && $ctrl.searchResults.length">
			<thead>
				<tr class="cg-table__thead-row">
					<th class="cg-table__cell cg-table__cell--centered">
						<input
							type="checkbox"
							ng-model="$ctrl.isAllSelected"
							ng-change="$ctrl.selectAllResults($ctrl.isAllSelected)"
						/>
					</th>
					<th class="cg-table__cell">Symbol</th>
					<th class="cg-table__cell">Name</th>
					<th class="cg-table__cell">Entrez ID</th>
					<th class="cg-table__cell">Score</th>
				</tr>
			</thead>
			<tbody>
				<tr class="cg-table__row" ng-repeat="result in ($ctrl.filteredSearchResults = ($ctrl.searchResults | filter: $ctrl.searchQuery | orderBy:$ctrl.sortType:$ctrl.sortReverse))">
					<td class="cg-table__cell cg-table__cell--centered">
						<input
							type="checkbox"
							ng-model="result.isSelected"
							ng-change="$ctrl.areAllResultsSelected()"
						/>
					</td>
				    <td class="cg-table__cell">{{result.symbol}}</td>
				    <td class="cg-table__cell">{{result.name}}</td>
				    <td class="cg-table__cell">{{result.entrezgene}}</td>
				    <td class="cg-table__cell">{{result._score}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>
