  <div class="dashboard-column-header">
    <h2>DISEASE Type SET</h2>
    <span class="badge">{{$ctrl.diseaseSet.length}}</span>
  </div>
  <div class="list-controls">
    <div class="col-xs-10">
      <span>SELECTED DISEASE TYPES</span>

      <span
        class="glyphicon glyphicon-sort"
        ng-click="$ctrl.sortSet({set:'disease',sortOn:'positives'})"
      >
        </span>
    </div>
    <div class="col-xs-2">
      <button class="label clear-button disease-clear-button"
            ng-click="$ctrl.clearSet({setType:'disease'})">CLEAR</button>
    </div>
  </div>

  <div class="col-xs-12 sample-set-bar">
    <span>SAMPLES {{ $ctrl.samplesTotal() }}</span>
    <span>POSITIVES
      <span class="glyphicon glyphicon-plus-sign text-success"></span>{{$ctrl.setTotalFor('positives')}}
    </span>
    <span>NEGATIVES
      <span class="glyphicon glyphicon-minus-sign text-danger"></span>
      {{$ctrl.setTotalFor('negatives')}}</span>
  </div>


<!-- Disease Cards -->
<div class="card-container">
<div class="disease-card-display col-xs-12">

  <div
    class="row"
    ng-repeat="disease in $ctrl.diseaseSet | orderBy : 'positives' : true"
    ng-if="$ctrl.diseaseSet.length"
  >
    <disease-card
      id="{{disease.name}}"
      positives="{{disease.positives}}"
      negatives="{{disease.negatives}}"
      samples="disease.samples"
    ></disease-card>
  </div>



  <div class="empty-card-space col-xs-12">
    <h4 class="empty-card-text"
      ng-if="!$ctrl.diseaseSet.length"
    >
      CLICK DISEASE TYPES TO ADD
    </h4>
  </div>
</div>

</div>
<!-- Ng repeat the selected Gene types -->
<!-- Empty Card Space -->
