/* =======================================================================
  Component: diseaseCard
 ========================================================================== */
 .disease-card{
  max-height: 90px;
 }

 .disease-card-body{
   padding: 0 0.5rem 0.5rem 1rem;
   h5{
     font-size: $font-size--sm;
     font-weight: 700;
   }
   h6{
     font-size: $font-size--xs;
   }
    .glyphicon-info-sign{
      padding-top: 7px;
      color: $gray-light;
      font-size: $font-size--md;
    }
    .samples{
      text-align: center;
      color: $gray-light;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      h6{
        margin-top: 0;
        margin-bottom: 0;
      }
      .sample-number{
        font-size: $font-size--md;
        font-weight: 200;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .positives{
      border-left: 1px solid $gray-light;
      border-right: 1px solid $gray-light;
    }

 }
