/* =======================================================================
  Component: queryBuilder/querySets/querySetMutations
 ========================================================================== */
.label{
 border-radius: 20px;
}
.list-controls{
  margin: 1.75rem auto 4.5rem auto;
}
.clear-button{
  background-color: $background--dark;
  color: $gray-lighter;
}
.gene-label{
  list-style: none;
  background-color: $green;
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
}
.card-container{
  margin-top: 10px
}
.gene-card-display{
 margin-top: 0rem;
 padding-right: 2rem;
}
.empty-card-space{
 border: 5px dotted white;
 border-radius: 4px;
 margin-left: 1rem;
 margin-right: 1rem;
 height: 15rem;
 color: white;
}
.empty-card-text{
  text-align: center;
  color: $black;
  padding: 10px;
  line-height: 1.5;
}
.dashboard-column-header{
text-align: center;
  h2{
    display: inline-block;
  }
}
