/* =======================================================================
  Component: queryBuilder/querySets/querySetMutations
 ========================================================================== */
.label{
 border-radius: 20px;
}
.list-controls{
  margin: 1.75rem auto 4.5rem auto;
}
.clear-button{
  background-color: $background--dark;
  color: $gray-lighter;
}
.gene-label{
  list-style: none;
  display: block;
  margin-bottom: 5px;
  padding: 4px 0;
  border:1px solid rgba($black, 0.5);
  transition: all 0.5s ease;
  
  &.active,
  &:hover{
    border-color:$green;
    background-color: $green;
    cursor: pointer;
  }
}
.card-container{
  margin-top: 10px
}

.gene-card-display{
  margin-top: 0rem;
  padding-right: 2rem;
  height:89vh;
  display: block;
  overflow: scroll;

  .gene-card-display-item  {
    margin:0 0 1em 0;
    .gene-card{
      transition: all 0.5s ease;
    }
    &.faded{
      .gene-card{  
        opacity: 0.5;
        transform: scale(0.75);
      }
    }
    &.active{
        .gene-card{ 
          border-color:$green; 
          opacity: 1;
          transform: scale(1.125);
        }
    } 
   
  }

}

.empty-card-space{
 border: 5px dotted white;
 border-radius: 4px;
 margin-left: 1rem;
 margin-right: 1rem;
 height: 15rem;
 color: white;
}
.empty-card-text{
  text-align: center;
  color: $black;
  padding: 10px;
  line-height: 1.5;
}
.dashboard-column-header{
text-align: center;
  h2{
    display: inline-block;
  }
}
