/* =======================================================================
  Component: querySet 
 ========================================================================== */
#query-set{
	background: $gray-dark;	
	color:$white;
}