/* =======================================================================
  Component: queryParamSelector 
 ========================================================================== */
.query-param-selector{
	background: $gray-lighter;
	padding:0;
	text-align: center;

	.dashboard-column-header{ 
		background: $gray-light;
		color: $black;
		border-bottom: 5px solid $blue;
	}
}

.query-param-selector-ctrls{
	padding: 1rem 0 0 0;
	.badge, .btn{}
	.btn--mutation-sort{
		height: 25px;
		background: $white;
		padding:2px 5px;
		margin-top:3px;
		p{
			display: inline-block;
			font-size:10px;
			margin:0;
			padding:0;
			font-family: Helvetica, sans-serif;
		}
	}
}

.query-param-selector-results{
	margin-top:50px;
	
	.results-row{
		overflow:scroll;
		display: block;
		height:88vh;
	}	

	.results-headers{
		padding:0;
		p{
			padding:0 0 0 10px; 
			margin:0; 
			text-align:left;
		}
	}

	.gene-card:hover{
		box-shadow: 0 2px 5px rgba($black, 0.5);
		cursor:pointer;
	}

	.disease-card{
		.row{
			width:50%;
			float:left;
		}
		.disease-card-body{padding:0;}
		.disease-card-title{
			text-transform: capitalize;
			text-align:left;
			font-size: 16px;
			padding:11px 0 10px 20px;
			margin:0;
		}
		.disease-card-counts{
			width: 30%;
			float:right;
			h6{display:none;}
			p{margin:0;}
			.samples{ 
				padding:10px 0; 
				&:first-child{border-left: 1px solid $gray-light;}
			}
				.sample-count{ 
					font-weight: bold;
				}
				.sample-pos{color:#3c763d;;}
				.sample-neg{color:#a94442;}
		}
	}

}