/* =======================================================================
  Component: queryOverview 
 ========================================================================== */
#query-overview{
	background: $gray-light;
	padding:0;
	text-align: center;

	.dashboard-column-header{ background: $black;}
}


