<!doctype html>
<html class="no-js">
  <head>
      <base href="/">

      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="http://getbootstrap.com/favicon.ico">

      <title ng-bind="pageTitle"></title>
      
          <!-- Bootstrap core CSS -->
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


      <link rel="stylesheet" href="css/main.css">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
    
    <!-- ****  NavBar **** -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">
            <img alt="Brand" src="http://placehold.it/40x40?text=COGNOMA">
          </a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded= "false">
              <span class="user-status logged-in"></span>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Username</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>&nbsp;&nbsp;Copy Login Link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">My Classifiers</a></li>
              </ul>
            </li>
            
            <li><a href="http://getbootstrap.com/examples/dashboard/#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- **** END NavBar **** -->


    
  <div class="container-fluid">

    <div class="row">
        <
        <!-- **** Sidebar Nav/ GlboalNav **** -->
        <div class="col-sm-2 col-md-1 sidebar">
            <ul class="nav nav-sidebar">
                <li><h5>CLASSIFIER</h5></li>
                <li class="active"><a href="">Builder </a></li>
                <li><a href="">Analytics</a></li>
                <li><a href="">Results Exports</a></li>
          </ul>
        </div>
        <!-- **** END Sidebar Nav/ GlboalNav **** -->

        <!-- **** Query Overview Sidebar **** -->
        <div class="col-sm-2 col-md-3 sidebar sidebar-right sidebar--queryoverview">
            <h3 class="text-center sub-header">Classifier Overview</h3>
        </div>
        <!-- **** Query Overview Sidebar **** -->



        <!-- **** Main Dashboard **** -->

        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-1 main">  

            <h1 class="page-header">Classifier Builder</h1> 
            
           


            <div class="row">



                <div class="col-md-12">
                    <!-- **** Query Progress Indicator Bar **** -->
                    <section id="prgs-indct-bar">
                         <span class="prgs-indct-bar-line" style="width:75%; left:12.5%;"></span>

                <ol class="prgs-indct-bar-steps">

        <!-- ngRepeat: step in $ctrl.steps --><li ng-repeat="step in $ctrl.steps" class="prgs-indct-bar-step ng-scope active" ng-class="{'active': step.active}" ng-click="$ctrl.goTo(step)">
    <!-- ngIf: step.type == 'icon' --><i ng-if="step.type == 'icon'" class="icon ng-binding ng-scope"></i><!-- end ngIf: step.type == 'icon' -->
    <!-- ngIf: step.type == 'icon' --><p ng-if="step.type == 'icon'" class="ng-scope"><small class="ng-binding">search genes</small></p><!-- end ngIf: step.type == 'icon' -->  

    <!-- ngIf: step.type == 'button' -->
  </li><!-- end ngRepeat: step in $ctrl.steps --><li ng-repeat="step in $ctrl.steps" class="prgs-indct-bar-step ng-scope active" ng-class="{'active': step.active}" ng-click="$ctrl.goTo(step)" style="">
    <!-- ngIf: step.type == 'icon' --><i ng-if="step.type == 'icon'" class="icon ng-binding ng-scope"></i><!-- end ngIf: step.type == 'icon' -->
    <!-- ngIf: step.type == 'icon' --><p ng-if="step.type == 'icon'" class="ng-scope"><small class="ng-binding">add genes</small></p><!-- end ngIf: step.type == 'icon' --> 

    <!-- ngIf: step.type == 'button' -->
  </li><!-- end ngRepeat: step in $ctrl.steps --><li ng-repeat="step in $ctrl.steps" class="prgs-indct-bar-step ng-scope active" ng-class="{'active': step.active}" ng-click="$ctrl.goTo(step)">
    <!-- ngIf: step.type == 'icon' --><i ng-if="step.type == 'icon'" class="icon ng-binding ng-scope"></i><!-- end ngIf: step.type == 'icon' -->
    <!-- ngIf: step.type == 'icon' --><p ng-if="step.type == 'icon'" class="ng-scope"><small class="ng-binding">search samples</small></p><!-- end ngIf: step.type == 'icon' -->  

    <!-- ngIf: step.type == 'button' -->
  </li><!-- end ngRepeat: step in $ctrl.steps --><li ng-repeat="step in $ctrl.steps" class="prgs-indct-bar-step ng-scope active" ng-class="{'active': step.active}" ng-click="$ctrl.goTo(step)">
    <!-- ngIf: step.type == 'icon' --><i ng-if="step.type == 'icon'" class="icon ng-binding ng-scope"></i><!-- end ngIf: step.type == 'icon' -->
    <!-- ngIf: step.type == 'icon' --><p ng-if="step.type == 'icon'" class="ng-scope"><small class="ng-binding">add samples</small></p><!-- end ngIf: step.type == 'icon' --> 

    <!-- ngIf: step.type == 'button' -->
  </li><!-- end ngRepeat: step in $ctrl.steps -->

</ol>
                    </section>
                    <!-- **** END Progress Indicator Bar **** -->

                    <!-- **** Query Builder **** -->
                  <div  class="QueryBuilder well">
                        <!-- **** Query Header **** -->
                        
                            <h4 class="QueryBuilder__title text-uppercase text-info text-inline">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Classifier Hypothesis/title
                            </h4>

                            <div class="QueryBuilder__meta_btns pull-right">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="glyphicon glyphicon-floppy-saved"></span>
                            </div>

                        
                        <!-- **** END Query Header **** -->

                        
                        
                        
                        <div class="row">
                            
                        </div>
                  </div>
                  <!-- **** END Query Builder **** -->

              </div><!-- end col-md-12 -->





        
                <!-- **** Query Param Selector: Genes **** -->                
                <div class="col-md-6">
                    <div class="panel panel-default">

                        <div class="panel-heading text-center">
                            
                            <h4> <small><span class="glyphicon glyphicon-question-sign pull-left"></span></small> Add Genes</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <input id="query-param-selector-input" type="search" class="form-control" placeholder="Genes by Name or Alternative Gene ID"  autofocus="1"> -->
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Genes by Name or Alternative Gene ID" aria-describedby="basic-addon1" >
                                    </div>
                                </div>

                            </div>
                        </div><!-- panel-heading -->

                        
                        <div class="row param-results">
                            
                            <div class="col-md-5 col-md-offset-1">

                                <div class="panel panel-default GeneCard">
                                  <div class="panel-heading GeneCard__heading">
                                    CARD17  <span class="label label-default"><small>440068</small></span>
                                    <div class="pull-right">
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </div>
                                    
                                  </div>
                                
                                  <div class="panel-body text-left" style="color: black">
                                    <small>caspase recruitment domain family member 17</small>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="panel panel-default GeneCard">
                                  <div class="panel-heading GeneCard__heading">
                                    CARD17  <span class="label label-default"><small>440068</small></span>
                                    <div class="pull-right">
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </div>
                                  </div>
                                
                                  <div class="panel-body text-left" style="color: black">
                                    <small>caspase recruitment domain family member 17</small>
                                  </div>
                                </div>
                            </div>
                            
                            <div class="col-md-5 col-md-offset-1">
                                <div class="panel panel-default GeneCard">
                                  <div class="panel-heading GeneCard__heading">
                                    CARD17  <span class="label label-default"><small>440068</small></span>
                                    <div class="pull-right">
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </div>
                                  </div>
                                
                                  <div class="panel-body text-left" style="color: black">
                                    <small>caspase recruitment domain family member 17</small>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="panel panel-default GeneCard">
                                  <div class="panel-heading GeneCard__heading">
                                    CARD17  <span class="label label-default"><small>440068</small></span>
                                    <div class="pull-right">
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </div>
                                  </div>
                                
                                  <div class="panel-body text-left" style="color: black">
                                    <small>caspase recruitment domain family member 17</small>
                                  </div>
                                </div>
                            </div>

                        </div>


                    </div> <!-- panel panel-default -->
                </div><!-- col-md-6 -->
                <!-- **** END Query Param Selector: Genes **** -->                


                <!-- **** Query Param Selector: Disease Type **** -->                
                <div class="col-md-6">
                    <div class="panel panel-default">

                        <div class="panel-heading text-center">
                            
                            <h4> <small><span class="glyphicon glyphicon-question-sign pull-left"></span></small> Add Disease Samples <small>by type</small></h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </span>
                                        <input type="text" class="form-control" placeholder="by Disease Name" aria-describedby="basic-addon1" >
                                    </div>
                                </div>

                        </div>
                        </div><!-- panel-heading -->

                        
                        <div class="list-group">

                            <button type="button" class="DiseaseTypeCard list-group-item">
                             <span class="DiseaseTypeCard__title">Diseases Type</span>
                              
                              <div class="SamplesCount well pull-right">
                                   <strong title="total samples in disease type study">44</strong> |
                                  <span class="label label-success" title="samples WITH selected Mutations">14</span>
                                  <span class="label label-danger" title="samples WITHOUT selected Mutations">30</span>    
                              </div>
                            </button>


                             <button type="button" class="DiseaseTypeCard list-group-item">
                             <span class="DiseaseTypeCard__title">Diseases Type</span>
                              
                              <div class="SamplesCount well pull-right">
                                   <strong title="total samples in disease type study">44</strong> |
                                  <span class="label label-success" title="samples WITH selected Mutations">14</span>
                                  <span class="label label-danger" title="samples WITHOUT selected Mutations">30</span>    
                              </div>
                            </button>


                             <button type="button" class="DiseaseTypeCard list-group-item">
                             <span class="DiseaseTypeCard__title">Diseases Type</span>
                              
                              <div class="SamplesCount well pull-right">
                                   <strong title="total samples in disease type study">44</strong> |
                                  <span class="label label-success" title="samples WITH selected Mutations">14</span>
                                  <span class="label label-danger" title="samples WITHOUT selected Mutations">30</span>    
                              </div>
                            </button>


                             <button type="button" class="DiseaseTypeCard list-group-item">
                             <span class="DiseaseTypeCard__title">Diseases Type</span>
                              
                              <div class="SamplesCount well pull-right">
                                   <strong title="total samples in disease type study">44</strong> |
                                  <span class="label label-success" title="samples WITH selected Mutations">14</span>
                                  <span class="label label-danger" title="samples WITHOUT selected Mutations">30</span>    
                              </div>
                            </button>


                             <button type="button" class="DiseaseTypeCard list-group-item">
                             <span class="DiseaseTypeCard__title">Diseases Type</span>
                              
                              <div class="SamplesCount well pull-right">
                                   <strong title="total samples in disease type study">44</strong> |
                                  <span class="label label-success" title="samples WITH selected Mutations">14</span>
                                  <span class="label label-danger" title="samples WITHOUT selected Mutations">30</span>    
                              </div>
                            </button>

                             <button type="button" class="DiseaseTypeCard list-group-item">
                             <span class="DiseaseTypeCard__title">Diseases Type</span>
                              
                              <div class="SamplesCount well pull-right">
                                   <strong title="total samples in disease type study">44</strong> |
                                  <span class="label label-success" title="samples WITH selected Mutations">14</span>
                                  <span class="label label-danger" title="samples WITHOUT selected Mutations">30</span>    
                              </div>
                            </button>

                           
                            

                            
                            
                        </div>


                    </div> <!-- panel panel-default -->

                </div><!-- col-md-6 -->
                <!-- **** END Query Param Selector: Disease Type **** -->     
                

            </div>  


        </div>    
        <!-- **** END Main Dashboard  **** -->

    </div>


  </div><!-- END contain-fluid -->






  
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- <script src="js/main.js"></script> -->
  </body>
</html>