.cg-table {
  position: relative;
  width: 100%;

  &__thead-row {
    color: $font-color--medium;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: lighten($athens-gray, 3%);
  }

  &__row {
    background-color: $white;

    &:hover {
      background-color: darken($white, 2%);
      box-shadow: inset 5px 0 0 0 $green;
    }
  }

  &__cell {
    padding: 15px;
    font-weight: inherit;
    text-align: left;
    border-top: 1px solid $athens-gray;

    &--active {
      color: $font-color--dark;
    }

    &--sortable {
      cursor: pointer;

      &:hover {
        color: $font-color--dark;
      }
    }

    &--centered {
      text-align: center;
    }
  }

  &__heading-cell {
    align-items: center;
    display: flex;
  }

  &__sort-icon {
    opacity: 0;

    &--active {
      opacity: 1;
    }

    &--reverse {
      transform: rotate(180deg);
    }
  }

  &__sort-container {
    display: inline-block;
  }

  &__no-results {
    margin: 30px 0;
    font-size: $font-size--md;
    text-align: center;
  }

  &__result-count {
    margin: 10px 0;
    font-weight: 500;
    text-align: right;
  }

  &__loading-icon {
    display: none;
    font-size: inherit;
    animation: rotating 1s infinite linear;

    &--active {
      display: inline-block;
    }
  }
}
