<div
  class="cg-table__result-count"
  ng-if="!$ctrl.isSearching && $ctrl.data.length"
>
  {{ $ctrl.filteredSearchResults.length }} result{{$ctrl.filteredSearchResults.length === 1 ? '' : 's'}}
</div>
<table class="cg-table" ng-if="$ctrl.data.length && !$ctrl.isSearching">
  <thead>
    <tr class="cg-table__thead-row">
      <th class="cg-table__cell cg-table__cell--centered">
        <input
          type="checkbox"
          ng-model="$ctrl.isAllSelected"
          ng-change="$ctrl.selectAllResults($ctrl.isAllSelected)"
        />
      </th>
      <th
        class="cg-table__cell"
        ng-class="{'cg-table__cell--active': $ctrl.sortType === column.id,
                  'cg-table__cell--sortable': column.isSortable}"
        ng-repeat="column in $ctrl.columns"
        ng-click="$ctrl.sortColumn(column.id)"
      >
        <div class="cg-table__heading-cell">
          {{column.name}}
          <span class="cg-table__sort-container">
            <span
              ng-class="{'cg-table__sort-icon--active': column.id === $ctrl.sortType,
                        'cg-table__sort-icon--reverse': !$ctrl.sortReverse}"
              class="material-icons cg-table__sort-icon">
              arrow_drop_down
            </span>
          </span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="cg-table__row"
      ng-repeat="result in ($ctrl.filteredSearchResults = ($ctrl.data 
                | filter: (!$ctrl.isFilterDisabled || '') && $ctrl.searchQuery 
                | orderBy: $ctrl.sortType:$ctrl.sortReverse))"
    >
      <td class="cg-table__cell cg-table__cell--centered">
        <input
          type="checkbox"
          ng-model="result.isSelected"
          ng-change="$ctrl.areAllResultsSelected()"
        />
      </td>
      <td class="cg-table__cell" ng-repeat="column in $ctrl.columns">
        <span
          class="material-icons cg-table__loading-icon"
          ng-class="{'cg-table__loading-icon--active': result.isLoading && column.showLoading}">refresh</span>
        <span ng-if="!column.showLoading || !result.isLoading">{{result[column.id]}}</span>
      </td>
    </tr>
</table>
<p ng-if="$ctrl.data.length && !$ctrl.filteredSearchResults.length" class="cg-table__no-results">No results found.</p>
<div class="cg-dot-loader" ng-if="$ctrl.isSearching">
  <span class="cg-dot-loader__dot"></span>
  <span class="cg-dot-loader__dot"></span>
  <span class="cg-dot-loader__dot"></span>
</div>