/* =======================================================================
  Component: queryOverview 
 ========================================================================== */
#query-overview{
	// width: 256px;
	background: $gray-light;
	padding:0;
	text-align: center;
	.dashboard-column-header {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


