.query-overview {
  padding: 0;
  color: $font-color--light;
  background: $background--medium;

  grid-column: 1 / 2;
  grid-row: 1 / end;

  &__header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 15px 20px;
    border-bottom: 2px solid $background--dark;
  }
}
