<div class="row dashboard-column-header">
  <h2>QUERY</h2>
</div>


<query-overview-control 
  class="row" 
  title="Mutations" 
  set-title="Gene Set" 
  desc="classify samples by their mutation status in selected genes" 
  list-type="mutations" 
  param-list="$ctrl.mutationSet">
</query-overview-control>


<query-overview-control 
  class="row" 
  title="Disease Type" 
  desc="Select Samples to Include in Query by Disease Type" 
  list-type="disease" 
  param-list="$ctrl.diseaseSet">
</query-overview-control >




