<div class="query-overview__header">
  <h2>Query Overview</h2>
  <button
    class="button"
    ng-disabled="!$ctrl.mutationsSet.length || !$ctrl.diseaseSet.length"
    ng-click="$ctrl.clickedSubmitQuery($event)"
  >
    Submit Query
  </button>
</div>

<query-overview-control
  title="Mutations"
  set-title="Gene Set"
  desc="classify samples by their mutation status in selected genes"
  list-type="mutations"
  param-list="$ctrl.mutationsSet"
  remove-param="$ctrl.removeParam({id, paramRef, paramType})"
>
</query-overview-control>

<query-overview-control
  title="Disease Types"
  desc="Select Samples to Include in Query by Disease Type"
  list-type="disease"
  param-list="$ctrl.diseaseSet"
  remove-param="$ctrl.removeParam({id, paramRef, paramType})"
  >
</query-overview-control >
