<div class="row dashboard-column-header">
  <h2>QUERY</h2>
</div>


<query-overview-control 
  class="row ng-isolate-scope" 
  title="Mutations" 
  set-title="Gene Set" 
  desc="classify samples by their mutation status in selected genes" 
  list-type="genes" 
  param-list="$ctrl.parent.mutationList">
</query-overview-control>


<query-overview-control 
  class="row ng-isolate-scope" 
  title="Disease Type" 
  set-title="" 
  desc="Select Samples to Include in Query by Disease Type" 
  list-type="disease" 
  param-list="$ctrl.parent.diseaseList">
</query-overview-control >




