.label {
  border-radius: 20px;
}

.list-controls {
  margin: 1.75rem auto 4.5rem auto;
}

.gene-label {
  display: block;
  padding: 4px 0;
  margin-bottom: 5px;
  list-style: none;
  border: 1px solid rgba($black, 0.5);
  transition: all 0.5s ease;

  &.active,
  &:hover {
    background-color: $green;
    border-color: $green;
    cursor: pointer;
  }
}

.card-container {
  margin-top: 10px;
}

.gene-card-display {
  display: block;
  height: 89vh;
  padding-right: 2rem;
  margin-top: 0rem;
  overflow: scroll;

  .gene-card-display-item {
    margin: 0 0 1em 0;
    .gene-card {
      transition: all 0.5s ease;
    }
    &.faded {
      .gene-card {
        transform: scale(0.75);
        opacity: 0.5;
      }
    }
    &.active {
      .gene-card {
        border-color: $green;
        transform: scale(1.125);
        opacity: 1;
      }
    }
  }
}

.empty-card-space {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 15rem;
  margin-right: 1rem;
  margin-left: 1rem;
  color: white;
  text-align: center;
  border: 5px dotted white;
  border-radius: 4px;
}

.empty-card-text {
  color: $white;
}
