/* =======================================================================
  Component: geneCard
 ========================================================================== */
 .gene-card{
   margin: 0 1rem 1rem 1rem;
   font-size: 1em;
   height:140px;
   h3{
     font-size: 1.2em;
     margin-top: 0;
   }
   h4{
     font-size: 1.2em;
     font-weight: 200;
   }
   .panel-body{
     padding: 10px 20px 10px 20px;
   }
 }
