.query-overview-control {
  align-items: normal;
  display: block;
  width: 100%;
  padding: 20px;
  color: $white;
  font-size: 20px;
  text-align: left;
  border-left: 5px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: rgba($black, 0.15);
    border-left: 5px solid rgba($green, 0.2);
  }

  &--active {
    background: rgba($black, 0.25);
    border-left: 5px solid $green;

    .query-overview-control__title {
      color: $green;
    }

    &:hover {
      background: rgba($black, 0.25);
      border-left: 5px solid $green;
    }
  }

  &__title {
    position: relative;
    margin: 5px 0;
    font-weight: 400;

    &:hover {
      cursor: pointer;
    }
  }

  &__subhead {
    margin-top: 0.5em;
    color: $font-color--medium;
    font-size: $font-size--xs;
  }

  &__count {
    display: inline-block;
    color: $white;
  }

  &__loading {
    position: relative;
    top: 3px;
    display: none;
    font-size: inherit;
    animation: rotating 1s infinite linear;

    &--active {
      display: inline-block;
    }
  }

  &__params {
    margin-top: 15px;

    &--mutations {
      flex-wrap: wrap;
      display: flex;
    }
  }
}
