<div 
	class="query-overview--control 
			   query-overview--{{$ctrl.title.toLowerCase()}}
         row
			"
  ng-class="{'active': $ctrl.active}"
>

  <h4 class="query-overview--control-title row" >
  	<span class="badge badge--counter"  >{{$ctrl.paramList.length}}</span>
    <span class="js-test-title" ui-sref="app.queryBuilder.{{$ctrl.listType}}">{{$ctrl.title}}</span>
  </h4>

  <h5 ng-if="$ctrl.setTitle" 
      class="query-overview--control-setTitle js-test-setTitle">
      {{$ctrl.setTitle}}
  </h5>

  <info-box
  	ng-if="$ctrl.desc"
  	message="{{$ctrl.desc}}"
  ></info-box>

  <div class="row query-overview--control-params">
		
  		<mutation-listing
        class="col-lg-6"
  			ng-if=" $ctrl.listType == 'mutations' "
  			ng-repeat="gene in $ctrl.paramList"
  			symbol="{{gene.symbol}}"
        entrez-id="gene.entrezgene"
  		></mutation-listing>

  		<disease-listing
  			ng-if="$ctrl.listType == 'disease'"
  			ng-repeat="setParam in $ctrl.paramList"
  			name="{{setParam.id}}"
        positives="setParam.positives"
        negatives="setParam.negatives"
  		></disease-listing>

  		<button 
  			ng-class="{ 'col-xs-6 col-lg-4': $ctrl.listType == 'genes',
  						      'col-xs-10': $ctrl.listType == 'disease' }"
  			class="query-overview--control-param  query-overview--control-param-add text-uppercase"
        ng-click="$ctrl.resetSearch()">
  			ADD {{ $ctrl.listType }}
  				
  		</buttom>	

        
  </div>

</div>