/* =======================================================================
  Component: querySet 
 ========================================================================== */
.query-set{
	// width: 385px;
	background: rgba($black, 0.58);//#9B9B9B	
	color:$white;
}
.dashboard-column-header {
	display: flex;
	justify-content: center;
	align-items: center;

	.badge{
		background-color: $blue;
		margin-left: 10px;
	}
}

.clear-button{
	background-color: $red;
	color: $white;
	border: none;
}