/* =======================================================================
  Component: querySet 
 ========================================================================== */
.query-set{
	// width: 385px;
	background: rgba($black, 0.58);//#9B9B9B	
	color:$white;
	&:before{
		content: '';
		display: block;
		position: absolute;
		top:0;
		left:-10px;

		width: 0; 
  		height: 0; 
  		border-top: 20px solid transparent;
  		border-bottom: 20px solid transparent; 
  
  		border-right:20px solid lighten($black, 20%); 
	}

	.dashboard-column-header{
		padding-top: 7px;
		background: rgba($black, 0.5);
	}
	



}