.query-set {
  color: $white;
  background: $background-light;
}

.dashboard-column-header {
  .badge {
    margin-left: 10px;
    background-color: $blue;
  }
}

.clear-button {
  color: $white;
  background-color: $red;
  border: none;
}
