.cg-navbar {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  background: $background--dark;

  &__list {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__link {
    align-items: center;
    display: flex;
    text-decoration: none;
  }

  &__logo {
    margin-right: 15px;
  }

  &__title {
    color: $green;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__subtitle {
    padding-left: 2px;
    margin: 0;
    color: $white;
  }

  .svg-cognoma-logo {
    width: 30px;

    fill: $green;
  }
}
