/* =======================================================================
  Component: navGlobal
  ========================================================================== */
#nav-global{
	padding:0px;
	background: $gray-light;
	//background: #777777;
	// width:60px;

	.nav-pills-item{
		width: 100%;
		margin-bottom: 20px;
		&.active{
			border-left:3px solid green;
			a{
				background: $black;
				color:$white;
			}

		}
		a{
			width: 100%;
			height: 56px;
			color: $black;
			padding:0;
			text-align:center;
		}

		#cognoma-icon{
			height: 100%;
			padding: 5px;
		}
	}

	.global-nav-profile{

		a{
			width: 50px;
			height:50px;
			display: block;
			margin:5px auto;
			border-radius: 50%;
			background: lighten($black, 50%);
			overflow:hidden;
			.glyphicon{font-size: 40px; margin-top: 10px;}
		}
	}

	.global-nav-query{
		a{
			padding-top: 5px;
			.glyphicon{
				width: 100%;
				font-size: 24px;
			}
		}
		
	}
}
