<ul class="nav nav-pills">
  <li class="nav-pills-item" role="presentation" >
  	<a ui-sref="app" href="#">Home</a>
  </li>
  <li class="nav-pills-item global-nav-profile" role="presentation" ui-sref-active="active"> 
  	<a href="#">
  		<span class="glyphicon glyphicon-user"></span>
  	</a>
  </li>
  <li class="nav-pills-item global-nav-query" role="presentation" ui-sref-active="active" >
  		<a ui-sref="app.queryBuilder" href="#">
  			<span class="glyphicon glyphicon-dashboard"></span>
  			Query
  		</a>
   </li>
</ul>