<nav class="navbar navbar-inverse">

    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Cognoma</a>
      </div>

    
      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav"  
            ng-repeat="(key, value) in $ctrl.navbarSchema">

          <li class="dropdown" uib-dropdown>
            <a uib-dropdown-toggle data-toggle="dropdown" href="#">
              {{key}} <span class="caret"></span>
            </a>

             <ul class="dropdown-menu" >
              <li ng-repeat="navItem in value" 
                  ng-class="{'divider':navItem.title == 'divider'}">
                  <a ng-if="navItem.title != 'divider'"  
                     ng-href="navItem.link">{{navItem.title}}</a>
                </li>
            </ul>

          </li>

        </ul>

        
    </div>


  </nav>
  
  